<footer>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="https://github.com/leolrrj/rcs-backyard" target="_blank">
                        <i class="fa fa-github"></i>Backyard
                    </a>
                </li>
                <li>
                    <a href="https://github.com/leolrrj/rcs-backyard/issues" target="_blank">
                        <i class="fa fa-bug"></i>Issues
                    </a>
                </li>
                <li>
                    <a href="https://github.com/leolrrj" target="_blank">
                        <i class="fa fa-building"></i>leolrrj
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>