<h3>Cadastrar empregado</h3>
<hr/>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 well">
    <form ng-submit="createEmployee()">
      <div class="form-group col-md-12">
        <label class="control-label" for="employee-name">Nome completo:</label>
        <input type="text" id="employee-name" ng-model="employee.name"
        class="form-control" required />
      </div>
      <div class="form-group col-md-4">
        <label class="control-label" for="employee-personal-email">
          Email pessoal:
        </label>
        <input type="email" id="employee-personal-email"
        class="form-control" ng-model="employee.personalEmail" />
      </div>
      <div class="form-group col-md-4">
        <label class="control-label" for="employee-name">
          Data de nascimento:
        </label>
        <input type="date" id="employee-birth-date" class="form-control"
        ng-model="employee.birthDate" required />
      </div>
      <div class="form-group col-md-4">
        <label class="control-label" for="employee-name">
          Data de admissão:
        </label>
        <input type="date" id="employee-admission-date"
        class="form-control" ng-model="employee.admissionDate" required />
      </div>
      <div class="form-group col-md-6">
        <label class="control-label" for="employee-position">
          Cargo/Posição:
        </label>
        <select id="employee-position" ng-model="employee.position"
        class="form-control" required>
          <option ng-repeat="position in positions" value="{{position.id}}">
          {{position.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label class="control-label" for="employee-region">Região:</label>
        <select id="employee-region" ng-model="employee.region"
        class="form-control" required>
          <option ng-repeat="region in regions"
          value="{{region.id}}">{{region.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label class="control-label" for="user-username">Username:</label>
        <input type="text" id="user-username" ng-model="user.username"
        class="form-control" required />
      </div>
      <div class="form-group col-md-6">
        <label class="control-label" for="user-email">Email corporativo:</label>
        <input type="text" id="user-email" ng-model="user.email"
        class="form-control" required />
      </div>
      <div class="form-group col-md-6">
        <label class="control-label" for="user-password">Password:</label>
        <input type="password" id="user-password" ng-model="password"
        class="form-control" required />
      </div>
      <div class="form-group col-md-6">
        <label class="control-label" for="user-passwordRetype">
          Confirm Password:
        </label>
        <input type="password" id="user-passwordRetype" ng-model="passwordRetype"
        class="form-control" required />
      </div>
      <input type="submit" value="Criar Empregado"
      ng-hide="edit" class="btn btn-warning" />
      <input type="submit" value="Atualizar Empregado"
      ng-show="edit" class="btn btn-warning" />
    </form>
  </div>
  <div class="col-md-2"></div>
</div>
